@import '../variables';

.active-tab {
  background-color: $primary !important;
}
  nav {
    padding: 10px;
    display: block;
    width: 100%;
    background-color: $dark;
    flex-wrap: wrap;

   h1, h5{
      color: $light;
    }
   h5 {
      font-weight: 200;
      margin-bottom: $gap;
      margin-top: $space;
    }
   a {
      display: inline-block;
      /*float: left;*/
      padding: $default;
      text-align: center;
      width: 20%;
      min-width: 60px;
      margin: 0 4px 4px 0;
      background-color: $primary;
      color: $light;
      border: 0;
    }
   a:hover, nav a:active {
      margin: -1px 3px 3px -1px;
      border: 1px solid $secondary;
      background-color: transparent !important;
    }
  }
  ul {
    list-style-type: none;
    list-style-position: inherit;
  }
    ul li {
      margin: $default 0;
    }
  h5 {
    margin: 0;
  }
  div.content {
    max-width: 800px;
    padding: 5% 15%;
  }
  @media screen and (max-width: 800px) {
    div.content {
      padding: 5% !important;
    }
  }
  section {
    position: relative;
    clear: both;
  }
    section h2 {
      margin: auto;
      text-align: center;
    }
